h1{
    font-size: 24px;
    color: #F9FAF8;
}
h2{
    color:#F9FAF8;
    font-weight: bold;
    font-size: 48px;
}
.sec-text{
    font-size: 18px;
    color: #E5E7EB;
}
.HL{
    font-size: 18px;
    color: #E5E7EB;
}
h3{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}
.main-img{
    height: auto;
    width: 1000px;
}
button{
    background-color: #3882F6;
}
p{
    font-size: 36px;
    font-weight: italic;
    color: #1F2937;
}
img{
    height: auto;
    width: 400px;
    display: flex;
}
